@charset "utf-8";

/*--------------------------------------------------------
HEADER
--------------------------------------------------------*/
.page-header {
	width: $baseWidth;
	margin: 16px auto 10px auto;
}

.header-logo {
	width: 400px;
}