/* CSS Reset | EMiAC-Works */
@charset "utf-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, 
menu, nav, output, ruby, section, summary,time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img { vertical-align: bottom; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section, main {
	display: block;
}
body { line-height: 1; font-size: 62.5%; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a img { border: 0; }
input { vertical-align: middle; }
h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.1rem; }
small { font-size: smaller; }
b { font-weight: bold; }
sup { font-size: smaller; vertical-align: super; }
sub { font-size: smaller; vertical-align: sub; }
strong { font-weight: bold; }
/*- CLEARFIX -*/
.clear{ width:0%; clear:both; font-size:0; margin:0; padding:0; }
.clearfix { *zoom: 1; }
.clearfix:after { content: ""; display: table; clear: both; }
.overflow{ overflow: hidden; }
.both { clear:both; }
/*- GENERAL -*/
.vaTop { vertical-align: top; }
.vaMiddle { vertical-align: middle; }
.vaBottom { vertical-align: bottom; }
.fw900 { font-weight: 900; }
.taC { text-align: center; }
.taL { text-align: left; }
.taR { text-align: right; }
.tex_none { text-indent: 100%; white-space: nowrap; overflow: hidden; }
