@charset "utf-8";
@import 'base', 'compass' ,'module';

$fontColor: #333;
$baseWidth: 1120px;
$baseColor: #F8F7F6;
$borderColor: rgba(122,122,122,0.3);
$contentColor: rgba(236,241,242,0.8);

@import "module/settings";

/*--------------------------------------------------------
HEADER
--------------------------------------------------------*/
@import "module/header";

/*--------------------------------------------------------
Global Nav
--------------------------------------------------------*/
@import "module/global-nav";

/*--------------------------------------------------------
MAIN
--------------------------------------------------------*/
main {
	width: 100%;
}

@import "module/contents-layout";

@import "module/contents-list";

/*--------------------------------------------------------
Headline
--------------------------------------------------------*/
@import "module/headline";

/*--------------------------------------------------------
Sidebar
--------------------------------------------------------*/
@import "module/aside";

/*--------------------------------------------------------
Pager
--------------------------------------------------------*/
@import "module/pager";

/*--------------------------------------------------------
Category / Tag / Search
--------------------------------------------------------*/
@import "module/contents-title";

/*--------------------------------------------------------
Single Content
--------------------------------------------------------*/
@import "module/single-content";

/*--------------------------------------------------------
FOOTER
--------------------------------------------------------*/
@import "module/footer";
